APP_NAME="bEdge Referral System"
APP_URL="https://referrals.bedgetechinc.com/"

DB_HOST="82.197.82.185"
DB_NAME="u653761806_bedge_referral"
DB_USER="u653761806_bedge_referral"
DB_PASS="Fenta@g089
"

UPLOAD_MAX_SIZE="5242880"
