Options -Indexes

RewriteEngine On

# Protect hidden files (except .well-known)
RewriteRule "(^|/)\.(?!well-known/)" - [F,L]

# Block direct .env access
RewriteRule (^|/)\.env - [F,L,NC]

# Route all non-existing files/folders to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
