Options -Indexes

RewriteEngine On

# Protect hidden files (except .well-known)
RewriteRule "(^|/)\.(?!well-known/)" - [F,L]

# Block direct .env access
<FilesMatch "^\.env">
    Order allow,deny
    Deny from all
</FilesMatch>

# Route all non-existing files/folders to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
